{% extends 'index.html' %}

{% block pageheading %}
<h1>Accessibility</h1>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="item">
            <img src="/static/images/Website Development-15.jpg">
            <div class="text">
                Everyone loves jumping into the water, now you can with lots of locations to jump from
            </div>
            <img src="/static/images/Website Development-17.jpg">
            <div class="text">
                There are life rings readily available all around
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Website Development-16.jpg">
            <div class="text">
                There are handrails on all the fins entering the water for support
            </div>
            <img src="/static/images/Website Development-18.jpg">
            <div class="text">
                Whenua ki te wai is accessible for all, even toddlers which have their own play pool to experience the
                water from
            </div>
        </div>
    </div>
    <div class="item">
        <h3>
            <a href="/">
                Back
            </a>
        </h3>
    </div>
{% endblock %}