<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Wellington Waterfront</title>
    <!-- This makes helps the website be more consisitent across different screen sizes -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This is the reference to the fonts that the css and website is using -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <!-- This is used to try and help the website and css be more consistent across different browsers -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <!-- This is the reference to the css that the website is using -->
    <link href="{{ url_for('static', filename='DVC_WATERFRONT.css') }}" rel="stylesheet">
</head>

<body class="background">

{% block pageheading %}
    <h1>Whenua ki te wai</h1>
    <h2>Wellington Waterfront</h2>
{% endblock %}

{% block main %}
   <div class="container">
        <div class="item">
           <h3>Accessibility</h3>
           <img src="/static/images/Website Development-09.jpg">
            <h4>The water should be accessible for all. From toddlers to teenagers to grandparents. This development in
                braces the sea life of the ocean to create a new swimming area in the heart of the capital with water
                slides, jumping area, steps into the water and a ramp going in and out of the water.
            </h4>
       </div>
       <div class="item">
           <h3>Location</h3>
           <img src="/static/images/Website Development-07.jpg">
           <img src="/static/images/Website Development-08.jpg">
       </div>

   </div>
{% endblock %}
</body>

</html>