{% extends 'index.html' %}

{% block pageheading %}
    <h1>Location</h1>
{% endblock %}

{% block main %}
    <div class="container-background">
        <div class="container">
            <div class="item">
                <img src="/static/images/Website Development-12.jpg">
                <div class="text">
                    Whenua ki te wai is located on the edge of Oriental Bay on the Wellington waterfront. It is making
                    use
                    of space long taken up by a old red tug boat and refurbishes the space into an interactive area for
                    everyone to cool off in the summer
                </div>
            </div>
            <div class="item">
                <img src="/static/images/Website Development-14.jpg">
                <div class="text">
                    <a href="https://maps.app.goo.gl/B6aT39APZiCuHKgv7" target="_blank"> Open Google Maps location in a new tab</a>
                </div>
            </div>
        </div>
        <div class="item">
            <h3>
                <a href="/">
                    Back
                </a>
            </h3>
        </div>
    </div>
{% endblock %}